.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302f2f;
    padding: 10px 20px;
    color: #fff;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .profile-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .navbar-right button {
    margin-left: 15px;
    padding: 8px 16px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
  }
  
  .navbar-right button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
  }
  .logout-btn {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .logout-btn:hover {
    background-color: #d9363e;
  }
  